doctype html
html(lang='ru')
  head
    meta(name='description' content='Site about travels')
    // мета элемент, который описывает содержимое документа
    meta(name='keywords' content='studio, recording studio, студия, звукозаписывающая студия, студия звукозаписи')
    // мета элемент, который описывает ключевые слова в документе
    meta(name='author' content='Petr Tolstov')
    // мета элемент, который указывает имя автора документа
    meta(charset='UTF-8' http-equiv='refresh' content='999')
    // <meta  http-equiv  = "content-security-policy" content = "default-src https:" > мета элемент, который разрешает загрузку ресурсов (изображения, шрифты, скрипты и так далее) только с использованием https
    meta(name='robots' content='index, follow')
    // Используется поисковыми системами при индексации страниц и прохода по ссылкам поисковой системой
    meta(name='viewport' content='width=device-width, initial-scale = 1')
    // Для того, чтобы мобильные браузеры автоматически не изменяли размер страниц сайта
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    title Supertours24
    link(rel='icon' href='images/icon.svg' sizes='16x16 32х32' type='image/png')
    link(href='stylesheets/style.css' type='text/css' rel='stylesheet')
  body
    block content
